.ui.segment.chat-portal-element {
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 1000;
  min-width: 20%;
  max-width: 600px;
  opacity: 0.8;
  background-color: #0a0c0c;
  color: white;
  overflow: hidden;
}

.chat-portal-element .ui.feed.chat-feed {
  overflow-y: auto;
  height: 400px;
  flex-direction: column-reverse;
  display: flex;
  overflow-wrap: break-word;
  word-break: break-all;
}

.chat-portal-element .message-form .ui.inverted.input,
.chat-portal-element .message-form .ui.inverted.input input {
  display: inline;
  width: 98%;
}

.chat-portal-element .chat-feed .event-date {
  color: darkgrey;
}

.chat-portal-element .chat-feed .author {
  color: darkorange;
}
