.recent-games-feed .ui.divider {
  display: none;
}

.recent-games-feed {
  font-style: italic;
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .recent-games-feed {
    font-size: 0.7rem;
  }
}
