.event-content {
  color: white;
}

.event-date {
  color: darkorange;
}

.event-icon {
  color: white;
}

.recent-games .games-feed .event .label i.icon {
  color: orange;
  margin-top: 20%;
  font-size: 2rem;
}

.elo-gain {
  color: green;
  padding: 2px;
  font-weight: 500;
}

.elo-loss {
  color: rgba(255, 50, 0, 1);
  padding: 2px;
  font-weight: 500;
}

.happy-hour {
  padding: 2px;
  font-weight: 500;
  color: orange;
}

.ui.pagination.menu a {
  background-color: rgba(53, 54, 58, 1);
  color: white;
}

.ui.pagination.menu .active.item,
.ui.pagination.menu a:hover {
  background-color: rgb(196, 186, 183);
}
