.event-content {
    color: white;
}

.event-date {
    color: darkorange;
}

.event-icon {
    color: white;
}

.recent-games .games-feed .event .label i.icon {
    color: orange;
    margin-top: 20%;
    font-size: 2rem;
}

.elo-gain {
    color: green;
    padding: 2px;
}

.elo-loss {
    color: red;
    padding: 2px;
}