.players .header .content {
  color: white;
}

.players .player-cell:hover {
  background-color: rgba(20, 24, 38, 0.2);
}

.players .player-row span {
  display: block;
}

.horizontal .card {
  display: inline-flex;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1rem;
}

.players-area .card:first-child {
  background-color: goldenrod;
  width: 18vw;
}

.players-area .card:nth-child(2) {
  background-color: silver;
  width: 15vw;
}

.players-area .card:nth-child(3) {
  background-color: sandybrown;
  width: 12vw;
}

.players-area .card:last-child {
  background-color: #282c34;
  width: 8vw;
}

.players-area .card:last-child .player-card-header {
  color: darkgray;
}

.players-area .card:last-child .extras {
  color: darkgray;
}

.new-buttons {
  margin-top: 50px;
}

.players-area .ui.table th {
  background-color: rgba(75, 80, 85, 1);
  color: orange;
  border-bottom: 1px solid orange;
}

.players-area .ui.table tr {
  background-color: rgba(65, 70, 75, 1);
  color: white;
}

.players-area .ui.table td a {
  color: inherit;
}

.players-area .ui.table {
  border: 1px solid orange;
  text-align: center;
  min-width: 300px;
  max-width: 30vw;
  margin: auto;
}

.players-area .ui.table tr:first-child {
  background-color: goldenrod;
  color: black;
}

.players-area .ui.table tr:nth-child(2) {
  background-color: silver;
  color: black;
}

.players-area .ui.table tr:nth-child(3) {
  background-color: sandybrown;
  color: black;
}

.players-area .ui.table tr:last-child {
  background-color: black;
  color: red;
}

.players .toggles .ui.button {
  margin: 10px;
}
