.players .header .content {
    color: white;
}

.players .toggle-zero-game-players {
    position: absolute;
    right: 10%;
    top: 10%;
}

.vertical .card {
    flex-direction: row;
    display: inline-list-item;
    height: 50px;
    font-size: 0.8rem;
}

.vertical .card {
    font-size: 0.8rem;
    height: 10%;
}

.horizontal .card {
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1rem;
}

.players-area .card  {
    width: 10%;
    box-shadow: 10px 10px 5px rgba(20, 24, 38, 1);
    border-radius: 15px;
}

.players-area .card:first-child {
    background-color: goldenrod;
    width: 20%;
}

.players-area .card:nth-child(2) {
    background-color: silver;
    width: 15%;
}

.players-area .card:nth-child(3) {
    background-color: sandybrown;
    width: 12%;
}

.players-area .card:last-child {
    background-color: #282c34;
    width: 8%;
}

.new-buttons {
    margin-top: 50px;
}
