.tournament-name-input {
  width: 40%;
  display: inline-flex;
}

#newTournamentLadderScroller {
  width: 50%;
  float: right;
  max-height: 400px;
  overflow-y: scroll;
}

#newTournamentLadderTable {
  text-align: center;
}

#newTournamentBtn {
  display: inline;
}
