#newTournamentLadderScroller {
  max-height: 400px;
  overflow-y: scroll;
}

#newTournamentBtn {
  margin-top: 35%;
}

#newTournamentLadderTable {
  text-align: center;
}

#contentGrid .content-column {
  width: 50%;
}
