.home-menu-buttons .ui.icon.header {
  padding: 30px;
  transition: background-color 0.2s;
  border-radius: 100%;
}

.home-menu-buttons .ui.icon.header:hover {
  cursor: pointer;
  background-color: rgba(43, 44, 48, 0.5);
  height: auto;
}

.home-menu-buttons {
  padding-bottom: 10%;
}

.home .champion-area i {
  font-size: 2rem;
  margin: auto;
}

.home .champion-area {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: white;
}

.home .champion-area .player-card {
  width: 80px;
  border-radius: 30px;
  margin: auto;
  box-shadow: 10px 10px 5px rgba(20, 24, 38, 1);
}

.home .champion-area .player-card i {
  width: 41%;
  margin: auto;
}

.home .champion-area .champion-text {
  color: orangered;
}

.home .happy-hour {
  max-width: 40vw;
  font-size: 0.8rem;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  background-color: #0f0f10;
  position: absolute;
  left: 20px;
  bottom: 50px;
  box-shadow: 10px 10px 5px rgba(20, 24, 38, 1);
}

.home .happy-hour .header {
  color: darkorange;
}
