.tt-navbar .item {
  height: 100%;
  margin: auto;
}

.tt-navbar i {
  color: orangered;
}

.header-hit {
  color: orangered;
  letter-spacing: -0.8px;
}

.tt-navbar .new-game-icon-navbar {
  margin: auto;
  width: 20px;
}

.tt-navbar .new-game-icon-navbar i {
  display: inline;
}

.tt-navbar .right.menu i,
.tt-navbar .right.menu .chat-icon,
.tt-navbar .right.menu span i {
  margin: auto;
  width: 100%;
}

.tt-navbar .mobile-menu {
  width: 100vw;
  position: absolute;
  top: 65px;
  left: -55%;
  right: 0;
}

/* stylelint-disable */
/* Unfortunately, due to react-burger-menu using unexposed JS styling, !important is necessary here. */
.tt-navbar .ui.menu .burger-button > button#react-burger-menu-btn {
  width: 80px !important;
  height: 80px !important;
}
/* stylelint-enable */

.tt-navbar .ui.menu.inverted.huge div.bm-overlay.burger-overlay {
  position: absolute;
  left: -55%;
}
