.tt-navbar .item {
  height: 100%;
  margin: auto;
}

.tt-navbar i {
  color: orangered;
}

.header-hit {
  color: orangered;
  letter-spacing: -0.8px;
}

.tt-navbar .new-game-icon-navbar {
  margin: auto;
  width: 20px;
}

.tt-navbar .right.menu i,
.tt-navbar .right.menu .chat-icon,
.tt-navbar .right.menu span i {
  margin: auto;
  width: 100%;
}

.tt-navbar .new-game-icon-navbar i {
  display: inline;
}
