.ui.card.player-card {
  font-size: 0.8rem;
  width: 15vh;
  box-shadow: 10px 10px 5px rgba(20, 24, 38, 1);
  border-radius: 15px;
}

.ui.card.player-card a:hover {
  font-size: 1.02rem;
}

.ui.card.player-card .content a {
  color: black;
  font-weight: 700;
  transition: font-size 0.5s;
}

.ui.card.player-card .playercardheader {
  color: black;
}

.ui.card.player-card .extras {
  color: black;
}