.ui.card.player-card {
  font-size: 0.8rem;
  width: 9vw;
  min-width: 75px;
  box-shadow: 10px 10px 5px rgba(20, 24, 38, 1);
  border-radius: 15px;
}

.ui.card.player-card a:hover {
  text-decoration: underline;
}

.ui.card.player-card .content a {
  color: black;
  font-weight: 700;
}

.ui.card.player-card .player-card-header {
  color: black;
}

.ui.card.player-card .extras {
  color: black;
}
