html {
  background-color: rgba(53, 54, 58, 1);
}

.app {
  text-align: center;
  background-color: rgba(53, 54, 58, 1);
  color: white;
  height: 100vh;
  overflow-y: scroll;
}

.app-main-content {
  width: 90%;
  margin: 2% auto auto;
  padding-bottom: 5%;
}

.header .content {
  color: white;
}

.header i {
  color: orangered;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
