html {
  background-color: rgba(53, 54, 58, 1);
}

.app {
  text-align: center;
  background-color: rgba(53, 54, 58, 1);
  color: white;
  overflow-y: scroll;
  height: 100vh;
}

.app-main-content {
  width: 90%;
  margin: 2% auto auto;
  padding-bottom: 200px;
}

.header .content {
  color: white;
}

.header i {
  color: orangered;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}
